.chapter {
  position: relative;
  padding: 100px 0;
  .inner {
    max-width: 1240px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
.chapter-2{
  background-color: #666;
}
.chapter-3{
  background-color: #333;
}
.chapter-4{
  background-color: #222;
}
