.chapter {
  position: relative;
  padding: 100px 0;
  .inner {
    max-width: 1240px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
.chapter-2{
  
}
.chapter-3{
  
}
.chapter-4{
  
}
