.chapter {
  position: relative;
  padding: 100px 0;
  .inner {
    max-width: 1240px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
.chapter-2{
  .ch2-bg{
    height: 100vh;
    min-height: 800px;
    max-height: 1200px;
    position: relative;
    display: block;
    &:before{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(0,0,0,0.7);
      top: 0;
      left: 0;
      z-index: 100;
    }
    .inner{
      position: absolute;
      z-index: 1000;
      text-align: center;
      max-width: 100%;
      top: 50%;
      transform: translate(0,-50%);
    }
    .video-wrapper{
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
      .video-js{
        height: 100%;
        object-fit: cover;
        padding-top: 0;
      }
      .vjs-tech{
        height: 100%;
        object-fit: cover;
        padding-top: 0;
      }
      .vjs-control-bar{
        display: none;
      }
    }
  }
}
.chapter-3{
  
}
.chapter-4{
  
}
