@import url("https://use.typekit.net/zbi4eag.css");

@mixin font-opentype{
  -moz-font-feature-settings: "liga", "dliga", "kern", "onus";
  -moz-font-feature-settings: "liga=1", "dliga=1", "kern=1", "onus=1";
  -ms-font-feature-settings: "liga", "dliga", "kern", "onus";
  -o-font-feature-settings: "liga", "dliga", "kern", "onus";
  -webkit-font-feature-settings: "liga", "dliga", "kern", "onus";
  font-feature-settings: "liga", "dliga", "kern", "onus";
}
@mixin font-smoothing{
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-osx-font-smoothing: auto;
}

/* font-family: adobe-garamond-pro, serif; */
/* Regular 400 normal
Semibold 600 normal
Semibold Italic 600 italic */

// font-family: futura-pt, sans-serif;
// font-style: normal;

// font-weight: 300; /* light */

// font-weight: 400; /* book */
// font-style: normal;
// font-style: italic;

// font-weight: 600; /* demi */
// font-style: normal;
// font-style: italic;

// font-family: lato,sans-serif;
// font-weight: 600;
// font-style: normal;

.integration-message{
  top: 53px;
  .integration-text{
    font-size: 0.9rem;
    @include letter-spacing(40);
    text-transform: uppercase;
    font-family: lato, Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-bottom: 9px;
  }
  .integration-logo{
    img{
      width: 130px;
    }
  }
}
h1{
  font-family: adobe-garamond-pro, Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 1.1em;
  text-align: left;
  margin-bottom: 11px;
  margin-top: 0;
}
.author{
  font-family: adobe-garamond-pro, Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1em;
  @include letter-spacing(20);
  text-align: left;
  margin: 0;
}
.font-agp{
  font-family: adobe-garamond-pro, Georgia, 'Times New Roman', Times, serif;
}
.chapter-2{
  h2{
    font-family: futura-pt, Arial, Helvetica, sans-serif;
    font-size: 3rem;
    line-height: 1.5em;
    font-weight: 400;
    margin: 0;
    .font-agp{
      margin: 21px 0 11px;
      display: block;
      color: $clay;
      font-size: 7rem;
      line-height: 1.13em;
    }
  }
}
p{
  margin: 0 0 1em;
}