.hero {
  min-height: 700px;
  height: $height-100;
  max-height: 1400px;
  top: $masthead-height-desktop;
  background: $black url('../assets/images/ch1-hero-bg.jpg') no-repeat center center;
  text-align: center;
  background-size: cover;
  @include breakpoint(mob-lg){
    top: $masthead-height-mob;
  }
  .inner{
    position: relative;
    min-height: 800px;
    .copy{
      position: absolute;
      right: 105px;
      bottom: 0;
    }
    .letters-wrapper{
      position: absolute;
      top: 36px;
      pointer-events: none;
      .letters{
        position: relative;
        height: 760px;
        .letter{
          position: absolute;
          top: 0;
          left: 0;
          &-v{
            left: 50%;
            transform: translate(-50%, 0);
          }
          &-l{
            left: initial;
            right: 0;
          }
          &-g{
            top: 50%;
            transform: translate(0,-50%);
          }
          &-a{
            top: 50%;
            transform: translate(0,-50%);
            left: initial;
            right: 0;
          }
          &-r{
            top: initial;
            bottom: 0;
          }
          &-i{
            top: initial;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
          }
        }
      }
    }
  }
}