.hero {
  min-height: 700px;
  height: $height-100;
  max-height: 1400px;
  top: $masthead-height-desktop;
  background: $black url('../assets/images/ch1-hero-bg.jpg') no-repeat center center;
  text-align: center;
  background-size: cover;
  @include breakpoint(mob-lg){
    top: $masthead-height-mob;
  }
}