// Write Internet Explorer hacks here
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .masthead .share-icons .icon svg{
    width: 20px;
  }
  .hero{
    .inner{
      .copy{
        width: auto;
      }
      .letters-wrapper{
        left: 0;
        width: 100%;
        .letters{
          transform: translate(-50%, 0px);
          left: 50%;
          .letter{
            &-l{
              left: auto;
            }
            &-a{
              left: auto;
            }
            &-r{
              top: auto;
            }
            &-i{
              top: auto;
            }
          }
        }
      }
    }
  }
  .swiper-container{
    width: 200%;
  }
  .chapter-4 .swiper-overall-wrapper .swiper-container .swiper-wrapper, .chapter-5 .swiper-overall-wrapper .swiper-container .swiper-wrapper{
    width: 400%;
  }
  footer.integration-message{
    top: auto;
  }
}

// Write Edge hacks here
@supports (-ms-ime-align: auto) {
}
