$bg: #ffffff;
$primary: #0a1733;
$secondary: #007aff;
$white: #ffffff;
$black: #000000;
$clay: #D8BBAF;
$opacity: 1;

$mob-sm: 320px;
$mob-an: 360px;
$mob-md: 375px;
$mob-lg: 700px;
$tablet: 1199px;
$desk-sm: 1279px;
$desk-md: 1365px;
$desk-lg: 1439px;
$desk-xl: 1919px;
$desk-xxl: 1920px;

$masthead-height-desktop: 44px;
$masthead-height-mob: 44px;
$height-100: calc(100vh - #{$masthead-height-desktop});
$min-height: 600px;
$max-width: 1240px;
$max-width-true: 1280px;
$col-spacing: 20px;


.font {
  &-blue {
    color: $primary;
  }
  &-black {
    color: $black;
  }
  &-white {
    color: $white;
  }
}

$cols: ();
@for $i from 1 through 12 {
  $cols: append($cols, $max-width / 12 * $i);
}

//
@mixin breakpoint($class) {
  @if $class == mob-sm {
    @media (max-width: $mob-sm) {
      @content;
    }
  } @else if $class == mob-an {
    @media (max-width: $mob-an) {
      @content;
    }
  } @else if $class == mob-md {
    @media (max-width: $mob-md) {
      @content;
    }
  } @else if $class == mob-lg {
    @media (max-width: $mob-lg) {
      @content;
    }
  } @else if $class == tablet {
    @media (max-width: $tablet) {
      @content;
    }
  } @else if $class == desk-sm {
    @media (max-width: $desk-sm) {
      @content;
    }
  } @else if $class == desk-md {
    @media (max-width: $desk-md) {
      @content;
    }
  } @else if $class == desk-lg {
    @media (max-width: $desk-lg) {
      @content;
    }
  } @else if $class == desk-xl {
    @media (max-width: $desk-xl) {
      @content;
    }
  } @else if $class == desk-xxl {
    @media (max-width: $desk-xxl) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: mob-xx, tablet, desk-xx";
  }
}
