@import "normalize.css";
@import "variables";
@import "mixins-utilities";
@import "media-queries";
@import "masthead";
@import "integration-message";
@import "hero";
@import "fonts";
@import "chapters";
@import "ie-edge-fixes";

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}
