@import "normalize.css";
@import "~bootstrap/scss/bootstrap";
@import "variables";
@import "mixins-utilities";
@import "media-queries";
@import "masthead";
@import "integration-message";
@import "hero";
@import "fonts";
@import "chapters";
@import "modal";
@import "ie-edge-fixes";

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background: black;
  color: $white;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  @include font-opentype;
  @include font-smoothing;
}

* {
  box-sizing: border-box;
}
